{% macro link(route, title) %}{% set url = url(route) %}<a href="{{url}}" title="{{title|trans|raw}}">{{title|trans|raw}}</a>{% endmacro %}
<html>
    <head>
        <title>Surveillance {{title|default('')}}</title>
        {{javascript|default('')}}
        {{getcss(false)}}
        {{getjs()|default('')}}
    </head>
    <body>
{% set routes = [ {"name":"hypo_test_default_index", "title":"index"}, {"name":"hypo_test_file", "title":"file"}, {"name":"hypo_test_image", "title":"image"} ] %}
{% if routes is defined %}
    <nav>
        {% for i in routes %}{{_self.link(i.name, i.title|capitalize)}} {% endfor %}       
    </nav>
{% endif %}
    {{content|raw}}
    </body>
</html>

